body {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  font-family: "PT Sans", "Arial", sans-serif;
}

.container {
  width: 1200px;
  margin: 0px auto;
  box-shadow: 0 10px 30px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: 932px;
}
iframe{
  background-color: #c8daa6;
  border:0px;
}
img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 21px;
}

h1 {
  font-size: 21px;
}

.main-menu {
  padding: 19px 0 20px 0;
  font-size: 0px;
  list-style: none;
}

.main-menu li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: 240px;
}

.main-menu .active {
  color: #766357;
}

.main-menu .active:hover {
  color: #8a7d75;
}

.main-menu .active:active {
  color: #d8d3d0;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: #c1c1c1;
}

nav .logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: 0px;
  z-index: 30;
}

.main-menu li:nth-child(1) {
  padding-left: 72px;
  box-sizing: border-box;
}

.main-menu li:nth-child(3) {
  padding-left: 79px;
  box-sizing: border-box;
  letter-spacing: 0.22px;
}

.main-menu li:nth-child(2) {
  padding-left: 73px;
  box-sizing: border-box;
  margin-right: 240px;
}

.main-menu li:last-child {
  padding-left: 90px;
  padding-right: 57px;
  width: auto;
}

.main-menu a {
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: black;
}

.intro{
  background-color: #86b9d7;
  background-image: url(../img/intro_image.jpg);
  margin-bottom: 3px;
}

.intro .welcome{
  display: block;
  margin: 0 auto;
  padding: 75px 0 81px 0;
}
.intro::after{
  content: "";
  display: block;
  height: 57px;
  width: 1200px;
  background-image: url(../img/intro_effect.png);
  position: absolute;
  top: 507px;
}

.promotion-title {
  padding-top: 40px;
  padding-bottom: 41px;
  width: 578px;
  line-height: 1.20;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.promotion-title p {
  padding-top: 16px;
  letter-spacing: 0.1px;
}

.promotion {
  margin-top: 0px;
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
}

.promotion h2 {
  margin-top: 45px;
  margin-bottom: 25px;
}

.promotion span {
  display: block;
  margin-bottom: 24px;
}

.promotion .discription {
  font-size: 14px;
  padding: 0 20px;
  padding-top: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  text-align: center;
  background-color: #81b3d2;
  padding-bottom: 35px;
  min-height: 256px;
}

.discription h2 {
  display: inline-block;
  width: 170px;
  padding: 0px 56px;
  line-height: 1.0;
  letter-spacing: 0.02em;
  text-align: center;
}

.promotion p {
  box-sizing: border-box;
  line-height: 1.5;
}
.promotion-2 h2{
  padding-top: 2px;
}
.promotion .picture {
  display: inline-block;
  vertical-align: top;
  width: 800px;
}
.promotion-1 h2{
  padding-top: 3px;
}
.bonuses .bonus {
  display: inline-block;
  vertical-align: bottom;
  width: 397px;
  font-size: 0;
}

.bonus img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 27px;
  vertical-align: bottom;
}

.bonus h2 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 21px;
  padding-top: 2px;
}

.bonus p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 84px;
  line-height: 1.5em;
  padding-top: 1px;
}

.promotion .nocolor {
  background-color: #eeeeee;
  color: black;
  padding-top: 0px;
}
.nocolor{
  padding: 0;
  margin: 0;
}
.interest {
  margin-left: auto;
  margin-right: auto;
  margin-top: 49px;
  text-align: center;
  min-height: 704px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.interest h3 {
  font-size: 30px;
  margin-bottom: 23px;
}

.interest a, .interest p {
  text-decoration: none;
  color: #000000;
  line-height: 1.7em;
  position: relative;
}
.interest p{
  line-height: 1.8;
}
.interest .search {
  display: block;
  width: 568px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  margin: auto;
  box-sizing: border-box;
  padding: 25px;
  background-color: #766357;
  margin-top: 46px;
}

.interest {
  position: relative;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.search-form{
  font-size: 0px;
}
.map-search {
  position: absolute;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000000;
  top: 238px;
  left: 50%;
  margin-left: -284px;
  z-index: 500;
  box-shadow: 0px 3px 20px 8px rgba(0, 0, 0, 0.1);
  -webkit-animation: bounce 0.8s;
  animation: bounce 0.8s;
}

.map-search-close {
  display: none;
}

.interest .search:hover .map-search {
  display: block;
}

.hotel-search {
  display: block;
  text-align: left;
  padding-top: 59px;
}
.hotel-search span {
  font-size: 14px;
  font-weight: bold;
  padding-left: 56px;
  display: inline-block;
  vertical-align: top;
  margin-right: 21px;
  padding-top: 9px;
}
.hotel-search .arrive-date{
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  padding-left: 56px;
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
  margin-left: 2px;
  margin-bottom: 31px;
  padding: 10px 0;
  border: 0;
}
.hotel-search .leave-date{
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  padding-left: 56px;
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
  margin-bottom: 28px;
  padding: 10px 0;
  border: 0;
}
.map-search input {
  margin-left: auto;
  margin-right: auto;
}

.hotel-search .arrive-date, .hotel-search .leave-date {
  display: inline-block;
  width: 334px;
  padding-left: 0px;
  background: #f2f2f2;
}
.hotel-search label{
  font-size: 14px;
  font-weight: bold;
  padding-left: 56px;
  display: inline-block;
  vertical-align: top;
  margin-right: 21px;
  padding-top: 9px;
}
.hotel-search .arrive-date{
  padding-left: 12px;
  position: relative;
}
.hotel-search .leave-date{
  padding-left: 11px;
  position: relative;
}
.hotel-search .calendar {
  padding: 0;
  margin-top: 4px;
}

.hotel-search .arrive-date:hover, .hotel-search .leave-date:hover {
  background: #ebebeb;
}

.hotel-search .arrive-date:focus, .hotel-search .leave-date:focus {
  width: 329px;
  border: 2px solid #e5e5e5;
  background: #ffffff;
  outline: none;
  padding: 8px 0;
  padding-left: 12px;
  margin-right: 24px;
}
.hotel-search .leave-date:focus {
  margin-right: 20px;
}
.additional-option {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-weight: bold;
  padding-left: 56px;
  padding-top: 2px;
}

.additional-option .number {
  display: inline-block;
  vertical-align: top;
}
.additional-option label{
  font-size: 14px;
  padding: 12px 0 0 0;
  margin: 0;
}
.additional-option input{
  font-size: 14px;
}
.additional-option .value {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: -5 0 0 0;
  border: none;
  background: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

.additional-option .minus {
  vertical-align: top;
  margin-left: 41px;
  background-color: #f2f2f2;
}

.additional-option .plus {
  vertical-align: top;
  margin-right: 52px;
  background-color: #f2f2f2;
}


.additional-option .children {
  margin-left: 28px;
}

.number .minus {
  background-color: #f2f2f2;
  background-image: url(../img/icons/minus-plus-calendar.png);
  background-position: -240px 4px;
  border: 0;
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.number .plus {
  background-color: #f2f2f2;
  background-image: url(../img/icons/minus-plus-calendar.png);
  background-position: -364px 0px;
  border: 0;
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.number .minus:hover {
  background-position: -156px 4px;
  background-color: #ebebeb;
  outline: none;
}

.number .plus:hover {
  background-position: -282px 0px;
  background-color: #ebebeb;
  outline: none;
}

.number .minus:active {
  background-position: -198px 4px;
  outline: none;
}

.number .plus:active {
  background-position: -323px 0px;
  outline: none;
}

.calendar {
  display: inline-block;
  vertical-align: top;
  margin-left: 13px;
  width: 21px;
  height: 22px;
  background-image: url(../img/icons/minus-plus-calendar.png);
  background-position: -117px -15px;
  position: absolute;
  right: 43px;
  top:62px;
}
.calendar-2{
  top: 128px;
}
.calendar:hover {
  background-position: -15px -15px;
}

.calendar:active {
  background-position: -66px -15px;
}

.map-search input[type="submit"] {
  display: block;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: 0;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin-top: 54px;
  margin-bottom: 56px;
}

.map-search input[type="submit"]:hover {
  display: block;
  width: 458px;
  height: 58px;
  background-color: #669ec0;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  cursor: pointer;
}

.map-search input[type="submit"]:active {
  display: block;
  width: 458px;
  height: 58px;
  background-color: #5496bd;
  border: 0;
  color: #7aadcb;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  cursor: pointer;
}

.selection {
  font-size: 0px;
  min-height: 217px;
  background-color: #6d99c0;
  background-image: url(../img/catalog_intro.jpg);
}

.selection h2 {
  font-size: 16px;
}

.infrastructure {
  font-size: 14px;
  color: #ffffff;
  min-height: 217px;
  box-sizing: border-box;
  padding-left: 72px;
  padding-top: 16px;
  width: 312px;
  display: inline-block;
  vertical-align: top;
}

.infrastructure  li, .property-type  li {
  margin-bottom: 14px;
  padding-top: 12px;
  list-style: none;
}

.infrastructure input[type="checkbox"] {
  display: none;
}

.infrastructure input[type="checkbox"]+label {
  display: block;
  line-height: 20px;
  position: relative;
  cursor: pointer;
}

.infrastructure input[type="checkbox"]+label::before {
  content: "";
  display: block;
  left: -40px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -123px -15px;
  position: absolute;
}

.infrastructure input[type="checkbox"]:checked+label::after {
  content: "";
  left: -40px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -175px -15px;
  position: absolute;
}

.infrastructure input[type="checkbox"]:disabled+label::before {
  content: "";
  left: -40px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -15px -15px;
  position: absolute;
}

.infrastructure input[type="checkbox"]:checked:disabled+label::after {
  content: "";
  left: -43px;
  top: -5px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -63px -15px;
  position: absolute;
}

.property-type {
  font-size: 14px;
  color: #ffffff;
  min-height: 217px;
  box-sizing: border-box;
  width: 288px;
  padding-top: 16px;
  padding-left: 15px;
  display: inline-block;
  vertical-align: top;
}

.property-type input[type="checkbox"] {
  display: none;
}

.property-type input[type="checkbox"]+label {
  display: block;
  margin: 0 0;
  line-height: 20px;
  padding-left: 1px;
  position: relative;
  cursor: pointer;
}

.property-type input[type="checkbox"]+label::before {
  content: "";
  left: -50px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -113px -15px;
  position: absolute;
}

.property-type input[type="checkbox"]:checked+label::after {
  content: "";
  left: -40px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -175px -15px;
  position: absolute;
}

.property-type input[type="checkbox"]:disabled+label::before {
  content: "";
  left: -40px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -15px -15px;
  position: absolute;
}

.property-type input[type="checkbox"]:checked:disabled+label::after {
  content: "";
  left: -43px;
  width: 32px;
  height: 22px;
  background-image: url(../img/icons/checkbox.png);
  background-position: -63px -15px;
  position: absolute;
}

.cost-per-day {
  padding-top: 26px;
  padding-left: 210px;
  display: inline-block;
  width: 318px;
  font-size: 14px;
  color: #ffffff;
}

.cost-per-day-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  left: -9px;
}

.price-controls {
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0px;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1e5081;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.accept {
  display: block;
  margin: 0 auto;
  padding: 6px 32px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  position: relative;
  left: -5px;
}

.accept:hover {
  background: #ffffff;
  color: #000000;
}

.selection-result-menu {
  display: inline-block;
  vertical-align: top;
}

.selection-result-menu .found {
  display: inline-block;
  vertical-align: top;
  margin-left: 72px;
  margin-top: 11px;
  margin-bottom: 10px;
}

.selection-result-menu .sort {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
}

.sort .active {
  color: #81b3d2;
  border: none;
}

.sort .active:hover {
  color: #81b3d2;
  border: none;
}

.sort .active:active {
  color: #81b3d2;
  border: none;
  font-weight: normal;
}

.sort span {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin-left: 45px;
  margin-top: 38px;
  margin-bottom: 14px;
  font-size: 12px;
}

.sort ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 38px;
  padding: 0 0;
}

.sort li {
  display: inline-block;
  vertical-align: top;
  margin-left: 34px;
  font-size: 12px;
  text-decoration: none;
}

.sort li:nth-child(2), .sort li:nth-child(3) {
  margin-left: 30px;
}

.sort a {
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sort li:last-child {
  margin-right: 354px;
}

.sort-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-list a:active {
  color: #000000;
  font-weight: normal;
  border: 0;
}

.sorting-up-down {
  padding-left: 104px;
  padding-top: 25px;
}

.sorting-up-down li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.sorting-up-down .up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #cccccc;
}

.sorting-up-down .down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #cccccc;
}

.sorting-up-down .up:hover {
  border-bottom: 10px solid #000000;
}

.sorting-up-down .down:hover {
  border-top: 10px solid #000000;
}

.sorting-up-down .up:active {
  border-bottom: 10px solid #81b3d2;
}

.sorting-up-down .down:active {
  border-top: 10px solid #81b3d2;
}

.selection-result-menu .sorting-up-down {
  display: inline-block;
  vertical-align: top;
}

.sort-triangle .active{
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #81b3d2;
}

.sort-triangle .active:hover {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #81b3d2;
}

.result {
  display: inline-block;
  vertical-align: top;
  width: 1200px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 0px;
  font-size: 0px;
  padding-top: 6px;
}

.result .picture {
  display: inline-block;
  vertical-align: top;
  width: 237px;
  box-sizing: border-box;
  padding: 24px 30px 30px 72px;
}

.result .result-name {
  font-size: 14px;
  display: inline-block;
  width: 650px;
  box-sizing: border-box;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 28px;
}

.result-name h1 {
  margin: 0;
  padding-top: 13px;
  margin-bottom: 10px;
}

.result .reserve {
  font-size: 14px;
  display: inline-block;
}

.result .more {
  font-size: 14px;
  display: inline-block;
}

.result .rating {
  font-size: 14px;
  padding-top: 8px;
  width: 311px;
  padding-bottom: 25.5px;
  display: inline-block;
  vertical-align: top;
}

.result-name a {
  text-decoration: none;
  color: #000000;
}

.result-name a:hover {
  text-decoration: none;
  color: #81b3d2;
}

.result-name a:active {
  text-decoration: none;
  color: #b2b2b2;
}

.result-name {
  display: inline-block;
}

.reserve {
  display: inline-block;
}

.more span {
  display: inline-block;
  margin-bottom: 20px;
}

.underline {
  border-bottom: 1px solid #e5e5e5;
}

.rating span {
  display: block;
  box-sizing: border-box;
  padding-left: 146px;
  margin-top: 43px;
  padding-right: 15px;
  background-color: #f2f2f2;
  color: #8b8b8b;
  padding: 5px 0px;
  width: 110px;
  text-align: center;
  margin-left: 130px;
}

.more {
  margin-right: 2px;
}

.more a {
  display: block;
  font-weight: bolder;
  width: 110px;
  margin-top: 0px;
  height: 27px;
  background-color: #81b3d2;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  color: #ffffff;
}

.more a:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.more a:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.reserve a {
  display: block;
  font-weight: bolder;
  margin-top: 20px;
  width: 142px;
  height: 27px;
  background-color: #766357;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  color: #ffffff;
}

.reserve a:hover {
  background-color: #604e43;
  color: #ffffff;
}

.reserve a:active {
  background-color: #503e33;
  color: #857871;
}

.stars {
  display: block;
  text-align: right;
  padding-right: 72px;
}

.stars li {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0px;
  display: block;
  vertical-align: top;
  font-size: 0px;
}
.overlay{
  bottom: 0px;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  font-size: 0;
  margin-right: 2px;
  background-color: #81b3d2;
  position: relative;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/icons/sprite.png);
  background-repeat: no-repeat;
}

.social-btn-facebook::before {
  width: 17px;
  height: 15px;
  background-position: -95px -15px;
}

.social-btn-twitter::before {
  width: 10px;
  height: 22px;
  background-position: -15px -15px;
}

.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -189px -15px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn-twitter:active::before {
  background-position: -55px -15px;
}

.social-btn-youtube:active::before {
  background-position: -239px -15px;
}

.social-btn-facebook:active::before {
  background-position: -142px -15px;
}

footer .hashtag {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  vertical-align: top;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 1px;
  min-height: 70px;
}

footer .hashtag a {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

footer .social {
  font-size: 14px;
  display: inline-block;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  vertical-align: bottom;
  padding-top: 36px;
  padding-bottom: 14px;
  min-height: 70px;
}

footer .footer-logo {
  font-size: 14px;
  display: inline-block;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  vertical-align: top;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 24px;
  min-height: 70px;
}

.footer-logo span {
  display: inline-block;
  padding-top: 24px;
  font-size: 14px;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
}

.academylogo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 3px;
  top: 14px;
  width: 113px;
  height: 39px;
  background-color: inherit;
  font-size: 0;
  background-image: url(../img/htmlacademy.png);
  background-repeat: no-repeat;
  background-position: -15px -153px;
}

.academylogo:hover {
  background-position: -15px -84px;
}

.academylogo:active {
  background-position: -15px -15px;
}
